<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #06d6a0;
        }

        form {
            text-align: center;
        }

        #login {
            text-align: center;
            padding-bottom: 10%;
        }

        #button {
            text-align: center;
            padding-bottom: 10%;
        }

        #downward {
            padding-bottom: 10%;
        }

        #downward1 {
            padding-bottom: 10%;
        }

        .padd {
            padding: 8px;
        }

        #width {
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 6px;

        }

        .bg {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 6px;
            padding-bottom: 6px;
            background-color: whitesmoke;
            color: #06d6a0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        h2 {
            color: white;
        }

        input.padd,
        select.padd {
            padding: 8px;
            background-color: white;
            color: #333;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            /* Applying border radius */
        }

        input.padd::placeholder,
        select.padd::placeholder {
            color: #999;
        }

        main {
            text-align: center;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;
            border: 1px solid transparent;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
            width: 400px;
        }

        label {
            margin-right: 10px;
            color: white;
        }
    </style>
</head>

<body>

    <main>
        <div id="login">
            <h2><i><b>Add Book</b></i></h2>
        </div>
        <section>
            <form method="POST" action="/add_book">
                <!-- <select name="users">
                    <% for (var i=0; i < users.length; i++){ %>
                    <option value= <%= users[i].name %>><%= users[i].name %></option>
                    <% } %>
        
                </select> -->
                <div id="downward">
                    <label><b><i>Book</i></b></label>
                    <input placeholder="book" class="padd" type="book" name="book" required>
                </div>
                <div id="downward1">
                    <label><b><i>Author</i></b></label>
                    <input placeholder="author" class="padd" type="author" name="author" required>
                </div>
                <div id="downward">
                    <label><b><i>Date</i></b></label>
                    <input placeholder="date" class="padd" type="date" name="date" required>
                </div>
                <label><b><i>Users</i></b></label>
                <div id="downward1">
                    <label><b><i></i></b></label>
                    <select name="users" class="padd" id="width" multiple>
                        <% for (var i=0; i < users.length; i++){ %>
                            <option value="<%= users[i].name %>">
                                <%= users[i].name %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <div id="button">
                    <button class="bg" type="submit">Login</button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>